<div class="new-post">
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      
      <h3>{{post.title}}</h3>
      <div>
        Posted by {{post.User.username}} 
         {{format_date post.createdAt}}
      </div>
    </div>


    <div class="card-body">
      {{post.body}}
    </div>
  </article>

  {{#if post.Comments}}
    <section class="card">
      <div class="cardHeader">
        <h4>Comments</h4>
      </div>

      <div class="cardBody">
        {{#each post.Comments}}
          <div>
            <p>
              {{body}}
            </p>
            {{!-- username & date needs to go here --}}
            <p>
              &mdash; {{User.username}}, 
              {{format_date createdAt}}
            </p>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}

  <form id="user-comment" class="card">
    <div class="cardHeader">
      <h3>Add New Comment</h3>
    </div>

    <div class="card-body">
      <input type="hidden" name="post-id" value="{{post.id}}" />
      <label class="comment-form-label" for="comment-body">Comment</label>
      <textarea name="new-comment-body" class="form-input"></textarea>
      <button type="submit" class="btn">Submit</button>
    </div>
    
  </form>
</div>

<script src="/js/comment.js"></script>